<div class = "nav">
	<a href = "/me">my portal</a>
	<a href = "/about">about us</a>
</div>
<form method = "GET" action = "/filter">
	Style:<select name = "style" style = "font-size: 20px">
		<option value = "">-</option>
		<option value = "standard">Standard</option>
		<option value = "latin">Latin</option>
		<option value = "smooth">Smooth</option>
		<option value = "rhythm">Rhythm</option>
		<option value = "hustle">Hustle</option>
		<option value = "salsa">Salsa</option>
		<option value = "zouk">Zouk</option>
		<option value = "argentine-tango">Argentine Tango</option>
		<option value = "bachata">bachata</option>
		<option value = "silverscreen">Silver Screen</option>
		<option value = "others">Others</option>
	</select>

	Location:<select name = "location" style = "font-size: 20px">
		<option value = "">-</option>
		<option value = "new_york">New York</option>
		<option value = "boston">Boston</option>
		<option value = "california">California</option>
		<option value = "italy">Italy</option>
		<option value = "russia">Russia</option>
		<option value = "england">England</option>
		<option value = "east_coast">U.S. East Coast (others)</option>
		<option value = "west_coast">U.S. West Coast(others)</option>
		<option value = "europe">Europe(others)</option>
		<option value = "asia">Asia</option>
		<option value = "others">Others</option>
	</select>
	<input type = "submit" value = "Find" style = "font-size: 20px">
</form>
<p>
{{count}} teacher(s) availiable
</t>{{errstr}}
</p>

{{#each teachers as |teacher|}}
	<a href = "/profile-teacher/{{teacher.slug}}">
		<div class = "entry">
			<img src = "{{teacher.headshot}}" class = "profile-pic" alt = "profile picture unavailiable">
			<div style = "display: inline-block; width: 60%">
				<h3>{{teacher.username}}</h3><br>
				<label>About: </label>{{teacher.profile}}<br>
				<label>Styles:</label>{{teacher.styles}}<br>
				<label>Locations:</label>
					{{#each teacher.locations}}
						{{this}}
					{{/each}}
			</div>
		</div>
	</a>
{{/each}}