<h3>My Portal</h3>
<div class = "nav">
	<a href = "/browse">browse</a></br>
	<a href = "/about">about us</a>
</div>

<p>Hi {{user.username}}!</p>
<p>
	Upcoming Lessons:</br>
	{{#each user.upcoming_lessons as |lesson|}}
		<div class = "entry">{{lesson}}</div>
	{{/each}}
</p>
<p>
	Contacts:</br>
	{{#each user.contact as |c|}}
	<a href = "/{{c.slug}}">{{c.name}}</a>
	</t>Lessons:{{c.lessons}}</br>
	{{/each}}

</p>