<h3>My Portal</h3>
<div class = "nav">
	<a href = "/browse">browse</a></br>
	<a href = "/about">about us</a>
</div>

<p>Hi {{user.username}}!</p>
<alert>{{errstr}}</alert>
<p>
	<h3>Upcoming Lessons:</h3>
	{{#each user.upcoming_lessons as |lesson|}}
		<div class = "entry">
			<label>Participants: </label>{{lesson.people}}</br>
			<label>Time: </label>{{lesson.time}}</br>
			<label>Location: </label>{{lesson.location}}</br>
		</div>
	{{/each}}
</p>
<p>
	<h3>Contacts:</h3>
	{{#each user.contact as |c|}}
	<div class = "entry">
		<a href = "/profile-student/{{studentSlug.(c.name)}}">
			<label>Name: </label>{{c.name}}       <label>Total Lessons:</label>{{c.lessons.length}}</br>
			{{#each c.lessons as |lesson|}}
				<label>Time:</label>{{lesson.time}}        
				<label>Notes:</label>{{lesson.notes}}</br>
			{{/each}}
		</a>
	</div>
	{{/each}}

</p>