profile-teacher
	<div>
		{{#each teacher.portfilio}}
			{{this}}
		{{/each}}
		{{teacher.username}}
		{{teacher.profile}}
		{{teacher.styles}}
		{{teacher.price}}
		{{teacher.height}}
		<!--google calendar stuff-->
	</div>