<!--TODO: abort render this page if type in url without loggin in or if teacher does not teach student-->
<div class = "nav">
	<a href = "/browse">browse</a></br>
	<a href = "/me">my portal</a></br>
	<a href = "/about">about us</a>
</div>''
<h3>Student Profile: {{student.username}}</h3>

<div>
	<img src ="/image/{{student.slug}}/{{student.headshot}}" height=200px></br>
	<div style = "text-align:left; border: inset; margin: 10%;background-color:khaki">
		<label>About: </label>{{student.profile}}</br></br>
		<label>Interest: </label>{{student.styles}}</br>
	</div>
</div>